:root {
    --comment-avatar-size: 128px;
    --dropzone-up--top: #F7C773;
    --dropzone-up--bottom: #F8B27E;
    --dropzone-right--top: #FD8980;
    --dropzone-right--bottom: #D45E70;
    --dropzone-left--top: #52C1EB;
    --dropzone-left--bottom: #6D8DD5;
    --dropzone-down--top: #53F6CF;
    --dropzone-down--bottom: #4CEA8D;
}

html, body, #wrapper {
    touch-action: none; /* disable zoom and other gestures on mobile */
}

body {
    overflow-y: hidden;
    font-family: sans-serif;
    background-color: #000;
}

h1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

#wrapper {
    max-width: 768px;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1; /* needed for post__section */
}

.button {
    position: absolute;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    font-family: sans-serif;
    color: black;
    display: block;
    width: max-content;
}

.button:hover {
    color: white;
    background-color: black;
}

.button__stats {
    left: 0;
    border-radius: 100px;
    position: relative;
    padding: 1rem 2rem;
}

.button__clear {
    right: 0;
}

.post__section {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100% - 48px);
    padding: 24px 0;
    background-color: #fff;
    font-size: 1.0rem;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    border-radius: 0;
    transform: scale(1, 1);
    transition: all 350ms cubic-bezier(0.25, 1, 0.5, 1);
    z-index: -1;
}

.post__section--smaller {
    border-radius: 20px;
    transform: scale(0.9, 0.9);
}

.post__section article {
    width: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
}

.comment__section {
    width: 100%;
    height: 65vh;
    position: absolute;
    background-color: #fff;
    transition: all 350ms cubic-bezier(0.25, 1, 0.5, 1);
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.5);
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    -webkit-mask-image: -webkit-radial-gradient(white, white); /* safari overflow fix */
}

.comment__section--hidden {
    bottom: calc(-65vh - 10px);
}

#comment__section__handle {
    display: block;
    position: absolute;
    width: 32px;
    height: 4px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #000;
    opacity: 0.4;
    top: 12px;
    left: 0;
    right: 0;
    z-index: 1000;
}

.comments__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    position: relative;
    width: 100%;
    z-index: 1;
}

.comment {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    /*box-shadow: 1px 0 6px rgba(0, 0, 0, 0.1);*/
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 40px 40px 0;
    border-radius: 20px;
    transition: background-color 350ms cubic-bezier(0.25, 1, 0.5, 1), border-radius 350ms cubic-bezier(0.25, 1, 0.5, 1), width 350ms cubic-bezier(0.25, 1, 0.5, 1), transform 350ms, opacity 350ms;
}

.comment__inner {
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.comment--avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: var(--comment-avatar-size);
    height: var(--comment-avatar-size);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}


.comment p {
    margin-bottom: 12px;
}

.comment--last {
    width: fit-content;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: none;
    pointer-events: auto;
}

.comment:first-of-type {
    z-index: 2;
}

.comment--dragging {
    border-radius: 50%;
    width: var(--comment-avatar-size);
    height: var(--comment-avatar-size);
    overflow: hidden;
    padding: 0;
    transition: background-color 350ms cubic-bezier(0.25, 1, 0.5, 1), border-radius 350ms cubic-bezier(0.25, 1, 0.5, 1), width 350ms cubic-bezier(0.25, 1, 0.5, 1), transform 0ms, opacity 350ms;
}

.comment--hidden {
    transform: translateY(100%);
    opacity: 0;
}

.comment--dragging p {
    opacity: 0;
    width: 0;
    height: 0;
}

.comment--dragging .comment--inner{
    min-width: unset;
    width: var(--comment-avatar-size);
    height: var(--comment-avatar-size);
}

.dropzones__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    /*min-height: 300px;*/
    display: block;
    overflow: hidden;
    background-color: white;
}

.dropzones--hidden {
    /*display: none;*/
}

.dropzones--hidden .dropzones__container {
    opacity: 0;
}

.dropzones__container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    transition: opacity 350ms cubic-bezier(0.25, 1, 0.5, 1);
}

.dropzone {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    /*background: var(--dropzoneColor, #fff);*/
    background-color: transparent;
    transition: 0.2s;
}

.drop-target {
    filter: brightness(80%)
}

#yellow-dropzone {
    left: 0;
    top: 0;
    /*--dropzoneColor: linear-gradient(45deg, #F7C773 0%, #F8B27E 100%);*/
    background-color: transparent;
}

#red-dropzone {
    right: 0;
    top: 0;
    /*--dropzoneColor: linear-gradient(90deg, #FD8980 0%, #D45E70 102.43%);*/
    background-color: transparent;
}

#blue-dropzone {
    bottom: 0;
    left: 0;
    /*--dropzoneColor: linear-gradient(180deg, #52C1EB 0%, #6D8DD5 100%);*/
    background-color: transparent;
}

#green-dropzone {
    bottom: 0;
    right: 0;
    /*--dropzoneColor: linear-gradient(270deg, #53F6CF 0%, #4CEA8D 100%);*/
    background-color: transparent;
}

#dropzone__up-container {
    /* top */
    position: absolute;
    top: 0;
    bottom: 50%;
    left: 0;
    right: 0;
}

#dropzone__right-container {
    /* right */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
}

#dropzone__down-container {
    /* bottom */
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
}

#dropzone__left-container {
    /* left */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
}

/* svg gradients */
/*
.dropzone-gradient-up--top {
    stop-color: var(--dropzone-up--top);
}

.dropzone-gradient-up--bottom {
    stop-color: var(--dropzone-up--bottom);
}

.dropzone-gradient-right--top {
    stop-color: var(--dropzone-right--top);
}

.dropzone-gradient-right--bottom {
    stop-color: var(--dropzone-right--bottom);
}

.dropzone-gradient-left--top {
    stop-color: var(--dropzone-left--top);
}

.dropzone-gradient-left--bottom {
    stop-color: var(--dropzone-left--bottom);
}

.dropzone-gradient-down--top {
    stop-color: var(--dropzone-down--top);
}

.dropzone-gradient-down--bottom {
    stop-color: var(--dropzone-down--bottom);
}
*/

#body--stats li {
    margin: 1rem 0;
    font-family: sans-serif;
    font-size: 1.75rem;
}

#body--stats li span {
    font-weight: bold;
}

/* post */
.post__author {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 12px;
    padding: 0 12px;
}

.post__author__avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
    overflow: hidden;
}

.post__author__avatar img {
    width: 100%;
    height: auto;
}

.post__author__name {
    flex-grow: 1;
    font-weight: 600;
}

.post__author__menu {
    flex-grow: 0;
}

.post__author__menu img {
    width: 16px;
    height: 16px;
}

.post__image {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    height: 0;
    padding-top: 100%; /* hack to make height equal to width */
    margin: 0 0 12px;
    overflow: hidden;
}

.post__image img {
    width: 100%;
    height: auto;
}

.post__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    margin: 0 0 24px;
    padding: 0 12px;
}

.post__actions__like,
.post__actions__comment,
.post__actions__share,
.post__actions__feedback,
.post__actions__bookmark {
    margin-right: 12px;
}

.post__actions__like img,
.post__actions__comment img,
.post__actions__share img,
.post__actions__feedback img,
.post__actions__bookmark img {
    width: 24px;
    height: 24px;
}

.post__actions__bookmark {
    margin-left: auto;
}

.post__meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    margin: 0 0 24px;
    padding: 0 12px;
    font-size: 0.8rem;
}

.post__meta__avatars {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 8px;
}

.post__meta__avatar__image {
    width: 16px;
    height: 16px;
    margin-right: -4px;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
}

.post__meta__avatar__image img {
    width: 100%;
    height: auto;
}

.post__meta__name,
.post__meta__others {
    font-weight: 600;
}

.post__comments {
    display: block;
    width: auto;
    margin: 0 0 12px;
    padding: 0 12px;
    font-size: 0.9rem;
}

.post__comments__single {
    display: block;
    margin: 0 0 12px;
}

.post__comments__single__author {
    font-weight: 600;
}

.post__comments__single__content {
}

/* dropzone canvas masking */
.like-canvas,
.dislike-canvas,
.superlike-canvas,
.superdislike-canvas {
    width: 100%;
    height: 100%;
    position: relative;
}

.yellow-canvas {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background: linear-gradient(0deg, var(--dropzone-up--top), var(--dropzone-up--bottom));
}

.red-canvas {
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    background: linear-gradient(0deg, var(--dropzone-right--top), var(--dropzone-right--bottom));
}

.blue-canvas {
    clip-path: polygon(0 100%, 0 0, 100% 50%);
    background: linear-gradient(0deg, var(--dropzone-left--top), var(--dropzone-left--bottom));
}

.green-canvas {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: linear-gradient(0deg, var(--dropzone-down--top), var(--dropzone-down--bottom));
}


.reactionBox{
    position: absolute;
    display: block;
}

.reactionBox#green{
    z-index: 0;
    left: 0;
    top: 0;
    
    width: 50%;
    height: 50%;
    background: linear-gradient(0deg, var(--dropzone-down--top), var(--dropzone-down--bottom));
}

.reactionBox#blue{
    z-index: 0;
    right: 0;
    top: 0;
    
    width: 50%;
    height: 50%;
    background: linear-gradient(0deg, var(--dropzone-left--top), var(--dropzone-left--bottom));
}

.reactionBox#red{
    z-index: 0;
    bottom: 0;
    right: 0;
    
    width: 50%;
    height: 50%;
    background: linear-gradient(0deg, var(--dropzone-right--top), var(--dropzone-right--bottom));
}

.reactionBox#yellow{
    z-index: 0;
    left: 0;
    bottom: 0;
    
    width: 50%;
    height: 50%;
    background: linear-gradient(0deg, var(--dropzone-up--top), var(--dropzone-up--bottom));
}